<h1 class="text-success text-center fw-bold mt-5">¡Bienvenido al mercado web!</h1>
<h2 class="text-center fw-normal mt-2 text-secondary">Seleccione sus productos</h2>
<div class="container mt-5 text-center ">
    <div class="row col-12 col-md-12">
        {{>products}}
    </h>
</div>