<nav class="navbar bg-success justify-content-center">
  <div class="container">
    <a class="navbar-brand mx-auto" href="#">
        <i class="fa-solid fa-cart-shopping text-white" width="30" height="24" ></i>
    </a>
  </div>
</nav>