<nav class="navbar bg-body-success justify-content-center">
  <div class="container">
    <a class="navbar-brand text-white" href="#">
        <i class="fa-solid fa-cart-shopping" width="30" height="24" ></i>
    </a>
  </div>
</nav>