{{#each productos}}
<div class="col mb-4">
    <div class="card">
        <div style="width: 40%; display: inline-block; margin: 0 auto">
            <img src="img/{{this}}.png" alt="{{this}}">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this}}</h5>
        </div>
    </div>
</div>
{{/each}}